---
import logo from "../assets/logo3.svg";
---

<header id="hd">
  <nav class="header-nav  flex justify-between items-center ">
    <!-- Logo -->
    <a href="/" class="logo cursor-pointer ">
      <img src={logo.src} alt="Logo" class="w-[80px] h-[140px] mt-[-40px] md:mt-[-23px] md:w-[130px] md:h-[140px] " />
    </a>

    <!-- Input for Hamburger Menu Logos mozraoba-->
    <input type="checkbox" id="menu-toggle" class="menu-toggle hidden " aria-label="Toggle menu" />
    <label
    for="menu-toggle"
    class="icon block cursor-pointer md:hidden mt-[-2rem] fixed right-[-17px] z-50"
    aria-hidden="true">
    <i class="fas fa-bars text-4xl mr-3 text-blue-100"></i>
  </label>
  
    
    <!-- Menu -->
    <ul
      class="menu hidden  flex-col absolute top-full left-0 w-full shadow-lg md:flex md:flex-row md:space-x-4 md:static md:w-auto md:shadow-none md:mt-[-40px]"
    >
      <li class="list-item text-2xl bg-blue-500 m-1 rounded-[10px] md:bg-opacity-0 md:text-2xl lg:text-3xl">
        <a href="/" class="text-gray-300 hover:text-white-900">Willkommen</a>
      </li>
      <li class="list-item text-3xl  bg-blue-500 m-1 rounded-[10px] md:bg-opacity-0 md:text-2xl lg:text-3xl">
        <a href="#ft" class="text-gray-300 hover:text-white-900">Kontakt</a>
      </li>
      <li class="list-item text-3xl  bg-blue-500 m-1 rounded-[10px] md:bg-opacity-0 md:text-2xl lg:text-3xl">
        <a href="/touren" class="text-gray-300 hover:text-white-900"
          >Touren</a>
      </li>
      <li class="list-item text-3xl  bg-blue-500 m-1 rounded-[10px] md:bg-opacity-0 md:text-2xl lg:text-3xl">
        <a href="/galerie" class="text-gray-300 hover:text-white-900">Galerie</a
        >
      </li>
    </ul>
  </nav>

  <h1
    class="absolute top-[13%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 text-white text-2xl md:text-3xl lg:text-5xl font-bold md:top-[17%] md:left-[50%]"
  >GEORGIEN
  </h1>
</header>

<style>

  header {
    background-image: url(../assets/images/266klein.jpg);
    background-size: cover;
    background-position:center center; 
    width: 100%;
    height: 50vh; 
  }

  @media (min-width: 768px) {
    header {
      background-position: center; 
      height: 70vh; 
    }
  }

  /* Hamburger Menu Logic */
  .menu-toggle:checked ~ .menu {
    display: flex;
  }

  /* Menü: Mobile */

  .menu {
    position: fixed;
    display: none;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: auto;
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 100;
    width: 50%;
    height: 30vh;
  }

  .menu li {
    text-align: center;
  }

  a {
    color: black;
    display: block;
    padding: 0.5rem;
    transition: color 0.3s ease;
  }

  a:hover {
    color: white;
  }

  /* Icon Styles */
  .icon {
    display: block;
    text-align: right;
    margin-right: 1rem;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    color: #213510;
  }

  /* Menü: Desktop */
  @media (min-width: 768px) {
    .menu {
      display: flex;
      justify-content: end;
      position: static; /* Verhindert absolute Positionierung */
      width: auto;
      height: auto;
      background-image: none;
      left: auto;
      right: 0;
      transform: none;
    }

    .menu li:hover {
      transform: scale(1.1);
      filter: drop-shadow(0 0 0.75rem #131312);
    }

    .icon {
      display: none;
    }
  }
</style>
