---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../css/style.css";
import "../css/font.css";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/flag.png" href="flag.png" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
    <title>GEORGIEN</title>
  </head>
  <body>
    <Navigation />

    <slot />

    <Footer />
  </body>
</html>
